html, body, #map, .map.container {
    padding:0;
    margin:0;
    height:100%;
}

progress {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1
}

/* hide the progress bar when map isn't updating */
.map:not([data-updating]) progress {
    display: none;
}

.out-of-range .toolbar, .in-range .out-of-scale-message {
    display: none;
}

.out-of-scale-message {
    background: white;
    padding: 1em;
    border-radius: 0 0 0 3px;
}

.toolbar button {
    font-size: 20pt;
}

.toolbar {
    padding: 1em 1em 0 0;
}

.toolbar, .out-of-scale-message {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.map[data-updating] button, .out-of-range #routeRadioButtons {
    pointer-events: none;
    color: lightgray;
}

.map[data-updating] button {
    cursor: wait;
}

.out-of-range #routeRadioButtons {
    cursor: not-allowed;
}

#toolbar button > .title {
    display: none;
}

#routeRadioButtons {
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 0.3em 0.7em;
    border-radius: 3px 0 0 3px;
}